.signup {
  background-color: burlywood;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.signup__wrapper {
  width: 30%;
  height:80%;
  border-radius: 13px;
  margin-top: 2rem;
}

.signup__left {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(40px);
  border-radius: 0.5rem;
  background-color: rgb(153, 148, 148) !important;
  font-size: 0.7rem;
  padding: 1rem 0;
}

.signup__left p,
.signup__left p a {
  color: #FFF;
  font-size: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  color: var(--primary-bg);
}

.inputs input {
  margin-top: 0.5rem;
  padding: 0.7rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
}

.inputs label {
  font-size: 0.8rem;
}

.signup__left button {
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--primary-bg);
  color: #eeeeee;
}



@media only screen and (min-width: 900px) {
  .signup__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .signup__left {
    background-color: #6c7adb;
    flex: 40%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .signup__content {
    z-index: 1;
    color: #eeeeee;
  }

  .inputs label {
    color: #eeeeee;
  }

  .signup__content h1 {
    font-size: 4rem;
    font-weight: bolder;
    color: #eeeeee;
  }

  .signup__content h4 {
    font-weight: normal;
  }

  .signup__content p {
    font-size: 1.5rem;
  }

  .signup__content a:nth-child(1) {
    color: rgb(241, 37, 37);
    font-weight: bold;
    /* border-bottom: 2px solid #ff4476a8; */
  }

  .attr {
    color: #fdfdfda1;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    font-size: 0.5rem;
  }

  .inputs {
    width: 90%;
  }
}