.login {
  background-color: #7b7575 !important;
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.login__wrapper {
  width: 30%;
  height: 80%;
  /* border-radius: 13px; */
  margin-top: 2rem;
}

.login_left {
  width: 100%;
  height: 70%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(40px);
  border-radius: 0.5rem;
  background-color: rgb(11, 211, 201) !important;
}

.login_left p,
.login_left p a {
  font-size: rem;
  color: #FFF;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  color: var(--primary-bg);
}

.inputs input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.login_left button {
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  background-color: var(--primary-bg);
  color: #eeeeee;
  cursor: pointer;
  margin-top: 1rem;
}


@media only screen and (min-width: 900px) {
  .login__wrapper {
    display: flex;
  }

  .login_left {
    background-color: #1e2a78;
    flex: 40%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }



  .login__content {
    z-index: 1;
    color: #eeeeee;
  }

  .inputs label {
    color: #eeeeee;
  }

  .login__content h1 {
    font-size: 4rem;
    font-weight: bolder;
    color: #eeeeee;
  }

  .login__content h4 {
    font-weight: normal;
  }

  .login__content p {
    font-size: 1.5rem;
  }

  .login__content a:nth-child(1) {
    color: #e23333;
    font-weight: bold;

    /* border-  : 2px solid #ff4476a8; */
  }

  .attr {
    color: #fdfdfda1;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    font-size: 0.5rem;
  }

  .inputs {
    width: 90%;
  }
}