.passwords {
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.passwords hr {
  margin-top: 2rem;
}

.react-responsive-modal-modal {
  margin-top: 100px !important;
  width: 50% !important;
  height: 70vh !important;
  background-color: rgba(255, 255, 255, 0.329) !important;
  font-family: 'Poppins', sans-serif !important;
  backdrop-filter: blur(10px) !important;
}

.modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.add-btn {
  background-color: rgb(21, 0, 255) !important;
  border-radius: 5px !important;
  box-shadow: none;
}

.modalButton {
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgb(30, 147, 30);
  box-shadow: 0 5px 16px -10px var(--primary-bg);
  cursor: pointer;
  border-radius: 10px;
}

.react-responsive-modal-modal h2 {
  border-bottom: 1px solid grey;
  padding: 0.5rem;
  margin-top: 0.6rem;
}

.form {
  padding: 0.5rem;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form__inputs label {
  margin: 0.3rem 0;
}

.form__inputs input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.6rem 0.5rem;
}

.form button {
  margin-top: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.8em 2em;
  cursor: pointer;
  background-color: #ff1f5a;
  color: #FFF;
  box-shadow: 0 7px 10px -4px #ff1f5bc5;
}

.genpass-btn {
  background-color: rgb(216, 61, 190) !important;
  color: #0d0d0d !important;
  box-shadow: 0 7px 10px -4px rgb(216, 61, 190) !important;
  margin: 20px 0px;
}
  
.passwords__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .name {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -0.1em 0 0 #ff1f5a;
  transition-property: box-shadow, color;
  transition-duration: 0.2s, 0.4s;
} */
/* 
.name:hover {
  color: #f8376b;
  box-shadow: inset 0 -0.25em 0 0 #ff1f5a;
} */

.nopass {
  margin-top: 1rem;
}

.nopass p {
  margin-bottom: 1rem;
}

.password-input input {
  min-width: 100px;
  max-width: 740px;
  width: 100%;
  /* Make the input responsive by default */
}

/* Smaller screens: less than 768px */
@media (max-width: 767px) {
  .password-input input {
    width: 100% !important;
    /* Adjust width for small screens, override other widths */
  }
}

/* Medium screens: between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .password-input input {
    width: 100% !important;
    /* Adjust width for medium screens */
  }
}

/* Large screens: greater than or equal to 992px */
@media (min-width: 992px) {
  .password-input input {
    width: 100% !important;
    /* Adjust width for large screens */
  }
}